{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<h1 class="heading-pag"><span>Mis compras</span></h1> 
<section id="historial">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>TOTAL</th>
                <th>ESTADO</th>
                <th>DETALLE</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in compras %}
            <tr>
                <td>{{fila.id}}</td>
                <td>{{fila.fecha}}</td>
                <td>${{fila.total}}</td>
                <td>{{fila.estado}}</td>
                <th>
                    <a href="{% url 'dropitem' fila.id %}">
                        <a href="{% url 'detalle' %}">ver detalle</a>
                    </a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not compras %}
        <h2 class="vacio-carrito">Aún no tienes compras realizadas!.</h2>
    {% endif %}
</section>
{% endblock %}